{% extends 'layout.html' %}
{% block content %}
<div class="luffy-container">
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-group">
            <div class="import-relative">
                <div class="import-absolute">
                    <i class="fa fa-cloud-upload"></i>
                    <span>点击上传excel文件</span>
                </div>
                <input name="customer_excel" type="file" class="import-input" id="excelFile">
            </div>
            <p class="help-block">注意：批量导入的Excel需使用规定格式模板.<a href="/customer/tpl">下载模板</a></p>
        </div>
        <button type="submit" class="btn btn-primary">上传</button>
    </form>
    {% if status %}
        <span style="color: green">{{ msg }}</span>
    {% else %}
        <span style="color: red">{{ msg }}</span>
    {% endif %}
</div>
{% endblock content %}

{% block js %}
    <script>
        $(function(){
            $('#excelFile').change(function(e){
                var fileName = e.currentTarget.files[0].name;
                $(this).prev().find('span').text(fileName);
            })
        })
    </script>
{% endblock js %}